
/*Styling of Navbar*/

.Navbar {
    background-color: rgb(49, 58, 61);
    height: 150px;
}

.logo h1, .logo h2 {
    font-family: Smooch-Regular;
    color: azure;
    position: absolute;
    z-index: 1;
}

.logo h1 {
    margin-left: 8.5rem;
    margin-bottom: 0;
    margin-top: 2rem;
    font-size: 2.5rem;
}

.logo h2 {
    margin-left: 12rem;
    margin-bottom: 0;
    margin-top: 4rem;
    font-size: 2rem;
}

.logoImage {
    margin: 1.5rem 0 1.5rem 3rem;
    width: 8rem;
    position: absolute;
}

.form {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 3.5rem;
    padding-right: 4rem;
}

/*Styling of ExploreSection*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    margin: 30px auto;
    max-width: 90%;
}
 
.cell {   
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 80%;
    
    overflow: hidden;
    margin: 0.7rem;
}

.cell img {
    width: 100%;
    height:100%;
    display: block;
    border-radius: 15px;
    border: 2px solid rgb(49, 58, 61);
}

.cell p {
    position:absolute;
    text-align: center;
    background-color: rgb(49, 58, 61, 0.8);
    color: azure;
    bottom: 0px;
    right: 0px;
    left:0px;
    margin:0px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0.5rem;
}

